.add-boiler-massage {
  color: $text_color;
  font-size: 1.2rem;
  padding: 5px;
  margin-top: 1rem;
  text-align: center;
}

.boilers-table {
  border: 1px solid $selected_color;
  border-collapse: collapse;
}

.boilers-table__th {
  color: $text_color;
  font-size: 1rem;
  text-align: end;
  border: 1px solid $selected_color;
  padding: 5px;
}

.boilers-table__td {
  color: $text_color;
  border: 1px solid $selected_color;
  text-align: end;
  padding: 5px;
}

.boiler_selected {
  background-color: $selected_color;
  .boilers-table__td {
    color: $background_color;
    border-color: $background_color;
  }
}

.boiler-error-massage {
  color: $error_color;
  font-size: 1.5rem;
  text-align: center;
}
