.main-calc-block {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
}

.calc-block-tittle {
  background-color: $selected_color;
  padding: 0.5rem;
  user-select: none;
  cursor: pointer;
  border-radius: 0.8rem;
}

.calc-block-tittle__rounded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.calc-block {
  background-color: $input-background_color;
  overflow: hidden;
  max-height: 2000px;
  transition: 0.5s;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.calc-block__content {
  padding: 20px;
  line-height: 150%;
}

.calc-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calc-img-title {
  text-align: center;
}

.block-hidden {
  max-height: 0;
}

.test {
  height: 1000px;
}

.calc-text_valid {
  color: green;
}

.calc-text_invalid {
  color: $error_color;
}
