.decomposition-Na2CO3-img {
  width: 400px;
}

.feed-water-treatment-scheme-img {
  width: 500px;
}

.nomogram-free-CO2-img {
  width: 400px;
}

.desorption-temperature-img {
  width: 250px;
}

.average-driving-force-desorption-img {
  width: 350px;
}
