.input-block__text {
  color: $text_color;
  font-size: 1.2rem;
}

.input-block__field {
  border: none;
  outline: none;
  padding: 5px;
  width: 150px;
  height: 25px;
  border-radius: 0.3rem;
  background-color: $input-background_color;
  box-sizing: border-box;
  &:focus {
    border: 2px solid $selected_color;
  }
}

.input-block__field_invalid {
  border: 2px solid $error_color;
}

.water-input__subtitle {
  color: $text_color;
  font-size: 1.3rem;
  margin-top: 1.2rem;
}

.radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  background: $input-background_color;
  border: 2px solid $selected_color;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-button:checked::before {
  width: 18px;
  height: 18px;
  content: '🗸︎';
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  border-radius: 50%;
  background: $selected_color;
}
