.add-boiler-block {
  display: flex;
  margin: 1rem auto 0;
  flex-direction: column;
  width: max-content;
}

.boilers-table-block {
  display: flex;
  margin: 1rem auto 0;
  flex-direction: column;
}

.boilers-table-block__buttons {
  display: flex;
  column-gap: 20px;
  align-self: flex-end;
  width: 100%;
  .common-button {
    flex-grow: 1;
  }
}
