.water-input {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: max-content;
}

.input-block label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.dimension {
  width: 50px;
  text-align: end;
}

.input-block__text {
  width: 500px;
  line-height: 150%;
}
